@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dm-sans-regular-400.woff2") format("woff2"), url("../fonts/dm-sans-regular-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dm Sans Italic";
  src: url("../fonts/dm-sans-regular-400-italic.woff2") format("woff2"), url("../fonts/dm-sans-regular-400-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
.background-blue {
  background-color: rgb(146, 146, 227);
}

.background-yellow {
  background-color: yellow;
}

.background-green {
  background-color: green;
}

.background-red {
  background-color: rgb(226, 75, 75);
}

body {
  background-color: #E5E5E5;
}

.title-menu {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.0625rem;
  line-height: 7.5rem;
  letter-spacing: -0.06em;
}
@media (min-width: 768px) {
  .title-menu {
    font-size: 7.75rem;
    line-height: 7.5rem;
  }
}
@media (min-width: 1200px) {
  .title-menu {
    font-size: 9rem;
    line-height: 7.5rem;
  }
}

.title {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: -0.03em;
}
@media (min-width: 768px) {
  .title {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}

.title-top {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.75rem;
  letter-spacing: -0.03em;
}
@media (min-width: 768px) {
  .title-top {
    line-height: 2.625rem;
  }
}

.text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  letter-spacing: -0.03em;
}

.text-top {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: -0.03em;
}
@media (min-width: 768px) {
  .text-top {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}

.text-numeration {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: -0.03em;
}
@media (min-width: 768px) {
  .text-numeration {
    font-size: 1.125rem;
    line-height: 1.4375rem;
  }
}
@media (min-width: 1200px) {
  .text-numeration {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
}

.link {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  letter-spacing: -0.03em;
}

.pill {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0.02em;
  padding: 0.5rem 1.1875rem;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 1.25rem;
}
@media (min-width: 768px) {
  .pill {
    font-size: 1.125rem;
    line-height: 1.4375rem;
  }
}

.subtitle {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  letter-spacing: -0.03em;
  border-bottom: 1px solid;
  padding-bottom: 0.25rem;
  display: inline-block;
}

@media (min-width: 768px) {
  .pill {
    padding: 0.625rem 1.625rem;
  }
}
.header-home {
  color: #FFFFFF;
}
.header-home .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header-home .container .space-bottom {
  border-bottom: 1px solid #FFFFFF;
  width: 300%;
  position: absolute;
  left: -100%;
}
.header-home .container .title-menu {
  margin-bottom: 1.875rem;
}
.header-home .container .text-numeration {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}
.header-home .container .rigth-margin {
  right: 3.5rem;
  position: absolute;
  top: 0.75rem;
}
.header-home .container .rigth-margin .text-numeration {
  margin-top: 0;
  margin-bottom: 0;
}
.header-home .container .pill {
  margin-top: 3.625rem;
  border-color: #FFFFFF;
}
.header-home .container .title-top,
.header-home .container .text-top,
.header-home .container .link {
  margin-top: 1.875rem;
}
.header-home .container .link {
  color: #FFFFFF;
}
.header-home .container .link svg {
  margin-right: 0.625rem;
}
.header-home .container a {
  text-decoration: none;
}
@media (min-width: 768px) {
  .header-home .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header-home .container .title-menu {
    margin-bottom: 1.875rem;
  }
  .header-home .container .text-numeration {
    margin-top: 1.125rem;
    margin-bottom: 2.75rem;
  }
  .header-home .container .rigth-margin {
    right: 4.75rem;
    top: 1.125rem;
  }
  .header-home .container .pill {
    margin-top: 18.625rem;
  }
  .header-home .container .title-top,
  .header-home .container .text-top,
  .header-home .container .link {
    margin-top: 2.6875rem;
  }
  .header-home .container .link svg {
    margin-right: 1rem;
  }
}
@media (min-width: 992px) {
  .header-home .container .rigth-margin {
    right: 10rem;
  }
}
@media (min-width: 1200px) {
  .header-home .container {
    padding-top: 2.625rem;
    padding-bottom: 9.625rem;
  }
  .header-home .container .title-menu {
    margin-bottom: 2.5rem;
  }
  .header-home .container .text-numeration {
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 2.125rem;
  }
  .header-home .container .rigth-margin {
    right: none;
    position: initial;
    top: none;
  }
  .header-home .container .pill {
    margin-top: 3.125rem;
  }
  .header-home .container .title-top,
  .header-home .container .text-top,
  .header-home .container .link {
    margin-top: 1.875rem;
  }
  .header-home .container .link svg {
    margin-right: 0.625rem;
  }
}

.footer ul {
  list-style-type: none;
}
@media (min-width: 1200px) {
  .footer ul li {
    margin-right: 1.0625rem;
    margin-left: 0;
    display: inline-block;
  }
}

.banner-header {
  background-color: greenyellow;
  height: rem(60);
}/*# sourceMappingURL=unclic-theme.css.map */