.background-blue{
    background-color: rgb(146, 146, 227);
}
.background-yellow{
    background-color: yellow;
}
.background-green{
    background-color: green;
}
.background-red{
    background-color: rgb(226, 75, 75);
}