.space-bottom {
  border-bottom: 1px solid $unclic-white-0;
  width: 100%;
  position: absolute;
  left: 0;
}
.space-bottom-black {
  border-bottom: 1px solid $unclic-black-0;
  width: 200%;
  position: absolute;
  left: -100%;
}
